:root {
  font-family: Roboto, Arial, sans-serif;
}

.wrapper{
    padding-top: 5%;
    display:grid;
    grid-template-columns: 65% 35%;

    grid-column-gap:1em;
    grid-row-gap:1em;
    grid-gap:1em;
  }

#supersug{
    padding-left: 1.125%;
    padding-right: 9%;
}

#videonstuff{
    padding-left: 9%;
    padding-right: 1.125%;
}

#btb{
  background-color: RED;
}

nav {
    position:fixed;
    width:100%;
    display:grid;
    grid-template-columns: 30% 60% 20%;
    background-color: #fff;
}

#profpic{
  width: 25%;
  border-radius: 50%;
}

#logs{
  display: grid;
  grid-template-columns: 20% 10% 70%;

}

#likes{
  display: grid;
  grid-template-columns: 80% 20%;
}

#infchan{
  display: grid;
  grid-template-columns: 8% 62% 30%;
}

#chanelpic{
  width: 85%;
  border-radius: 50%;
}
#parra{
  padding-left: 8%;
}
#mycmt{
  display: grid;
  grid-template-columns: 20% 80%;
}

#commentform{
  padding-top: 5px;
}

.cmt{
    display: grid;
    grid-template-columns: 10% 90%;
}
.cmtimg{
  width: 50%;
  border-radius: 50%;
}

.cmt1{
  display: grid;
  grid-template-columns: 15% 85%;
}

.sug{
  display: grid;
  grid-template-columns: 30% 70%;
}
